# Dependencies
node_modules/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# TypeScript
*.tsbuildinfo
dist/
build/
lib/

# Cloudflare Workers
.wrangler/
.dev.vars
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE & Editors
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history/

# Testing
coverage/
.nyc_output/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log
*.log

# Production
/build
.next/
out/
.vercel

# Misc
.DS_Store
*.pem
.cache/
temp/
tmp/
.turbo 

data/
*.db